.wrapper {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: #BBBBBB;

  .header {
    height: 100px;
    width: 100%;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;

    .header-title{
      color: white;
      font-size: 60px;
      font-family: 'HoeflerText-Black',sans-serif;
    }
  }
  .content {
    display: flex;

    .side-bar {
      width: 200px;
      background-color: red;
      height: 100vh;
      overflow: scroll;
      display: flex;
      justify-content: center;
      

      .title{
        padding-top: 120px;
        .title1{
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        
        .title2{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }

        .title3{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
      }
      
    }
  }
}


// .header {
//   height: 100px;
//   width: 100%;
//   background-color: #222222;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: fixed;
//   top: 0;


// まとめてコマンドアウト







//  .main {
//   width: calc(100% - 100px);
//   height: calc(100vh - 100px);
// }