.wrapper {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: #BBBBBB;

  .header {
    height: 100px;
    width: 100%;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;

    .header-title{
      color: white;
      font-size: 60px;
      font-family: 'HoeflerText-Black',sans-serif;
    }
  }
  .content {
    display: flex;

    .side-bar {
      width: 200px;
      background-color: #cc3366;
      height: 100vh;
      overflow: scroll;
      display: flex;
      justify-content: center;
      

      .title{
        padding-top: 110px;

        .title-head{
          color: white;
          font-size: 30px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }

        .title1{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        
        .title2{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }

        .title3{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title4{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title5{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title6{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title7{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title8{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title9{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title10{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title11{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title12{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title13{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        
        .title14{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }

        .title15{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title16{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title17{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title18{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title19{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title20{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title21{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title22{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title23{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title24{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title25{
          padding-top: 10px;
          color: white;
          font-size: 18px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title26{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title27{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title28{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title29{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title30{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title31{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title32{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title33{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title34{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title35{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title36{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        
        .title37{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }

        .title38{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title39{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title40{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title41{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title42{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title43{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title44{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title45{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title46{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }
        .title47{
          padding-top: 10px;
          color: white;
          font-size: 20px;
          font-family: 'HoeflerText-Black','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
        }

      }
      
    }
  }
}


// .header {
//   height: 100px;
//   width: 100%;
//   background-color: #222222;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: fixed;
//   top: 0;


// まとめてコマンドアウト







//  .main {
//   width: calc(100% - 100px);
//   height: calc(100vh - 100px);
// }