.wrapper
  .header 
    %h1.header-title spitz
  .content
    .side-bar
      .title
        .title-head
          シングル曲
        .title1
          ヒバリのこころ
        .title2
          夏の魔物
        .title3
          魔女旅に出る
        .title4
          惑星のかけら
        .title5
          日なたの窓に憧れて
        .title6
          裸のままで
        .title7
          君が思い出になる前に
        .title8
          空も飛べるはず
        .title9
          青い車
        .title10
          スパイダー
        .title11
          ロビンソン
        .title12
          涙がキラリ★
        .title13
          チェリー
        .title14
          渚
        .title15
          スカーレット
        .title16
          夢じゃない
        .title17
          運命の人
        .title18
          冷たい頬
        .title19
          謝謝！
        .title20
          楓
        .title21
          スピカ
        .title22
          流れ星
        .title23
          ホタル
        .title24
          メモリーズ
        .title25
          放浪カモメはどこまでも
        .title26
          遥か
        .title27
          ハネモノ
        .title28
          水色の街
        .title29
          スターゲイザー
        .title30
          正夢
        .title31
          春の歌
        .title32
          テクテク
        .title33
          魔法のコトバ
        .title34
          ルキンフォー
        .title35
          群青
        .title36
          若葉
        .title37
          君は太陽
        .title38
          つぐみ
        .title39
          シロクマ
        .title40
          ビギナー
        .title41
          さらさら
        .title42
          僕はきっと旅に出る
        .title43
          愛のことば
        .title44
          雪風
        .title45
          みなと
        .title46
          優しいあの子
        .title47
          猫ちぐら
